<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../css/user.css">
</head>
<body>
  <header class="p-3 bg-white text-muted">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-muted">TRANG CHỦ</a></li>
          <li><a href="Shop.html" class="nav-link px-2 text-muted">CỬA HÀNG</a></li>
          <li><a href="#" class="nav-link px-2 text-muted">GIỚI THIỆU</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Tìm kiếm ...." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-outline-light me-2">Đăng Nhập</button>
          <button type="button" class="btn btn-warning">Đăng Kí</button>
          <a href="#" class="text-black text-decoration-none ms-3 position-relative">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
              <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
            </svg>
            <!-- Example of showing items count -->
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              3 
            </span>
          </a>
        </div>
      </div>
    </div>
  </header>
</body>
</html>
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <a href=""></a><img src="../img/banner/bn1.jpg" class="d-block w-100" alt="">
      </div>
    </div>
  </div>
  <br>
  <center><h2>SẢN PHẨM</h2></center>
  <hr>
  <!-- <div class="container2 p-3"> -->
      <div class="row1 bg p-3">
              <div class="box">
                <div class="zoom-effect">
                  <a href="Products_detail.html"><img src="../uploads/sp1.jpg" alt="" class="w-100"></a>
                </div>
                  <h2 class="text">SP 1</h2>
                  <span class="price">20,000 Đ</span><br>
                  <button class="btn btn-outline-danger">THÊM VÀO GIỎ</button>
              </div>
    </div>
  </div>
  <center><h2>TRUYỆN MỚI</h2></center>
  <hr>
  <!-- <div class="container2 p-3"> -->
      <div class="row1 bg p-3">
              <div class="box">
                <div class="zoom-effect">
                  <a href="/products_detail/<%= product.id %>"><img src="../uploads/sp1.jpg" alt="" class="w-100"></a>
                </div>
                  <h2 class="text"> SP NEW</h2>
                  <span class="price">20,000 Đ</span><br>
                  <button class="btn btn-outline-danger">THÊM VÀO GIỎ</button>
              </div>
    </div>
  </div>
  
  </div>
  <div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">TRANG CHỦ</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">GIỚI THIỆU</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">CỬA HÀNG</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">LIÊN HỆ & HỖ TRỢ</a></li>
      </ul>
      <p class="text-center text-muted">© 2024 By Duy Binh</p>
    </footer>
  </div>
   